table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th {
    background-color: darkorchid;
    color: ivory;
    border-bottom: 1px solid black;
}

tr {
    border-bottom: 1px solid black;
}

.new-ebuild {
    background-color: darkgreen;
    color: white;
}

.update-ebuild {
    background-color: yellowgreen;
    color: white;
}

.rebuild-ebuild {
    background-color: goldenrod;
    color: white;
}
